:root {
  --primary-color: #2c2f83;
  --secondary-color: #feeee3;
  --headings-font: "Mali", cursive;
  --paragraph-font: "Roberto", sans-serif;
}
body {
  margin: 50px;
  background-color: var(--secondary-color);
}
h1 {
  color: var(--primary-color);
  text-align: center;
  margin: 30px;
  font-size: 72px;
  font-family: var(--headings-font);
}
h3 {
  font-size: 25px;
}
a {
  text-decoration: none;
}
p {
  font-family: var(--paragraph-font);
}
.carousel-item img {
  object-fit: cover;
  object-position: center;
  height: 70vh;
  overflow: hidden;
}
.general-info {
  text-align: center;
  max-width: 900px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
  font-family: var(--paragraph-font);
}
.navigation-links a {
  background-color: var(--primary-color);
  padding: 20px 15px;
  margin: 20px;
  color: white;
  border-radius: 4px;
}
.owner {
  max-width: 300px;
  margin: 0 auto;
  border: 1px solid var(--primary-color);
}
.legacy-link {
  background-color: var(--primary-color);
  padding: 20px 15px;
  margin: 0 auto;
  color: white;
  border-radius: 4px;
  max-width: 350px;
}
